// font family
$body-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

// line height
$line-heigth: 24px;

// color
$color: (
  primary: #1f73ff,
  success: #45c83a,
  danger: #f2135d,
  warning: #ff8200,
  light: #ffffff,
  dark: #1e1e1e,
);

// text-align
$text-align: (
  left: left,
  center: center,
  right: right,
  justify: justify,
);

// font-size
$font-size: (
  xs: 12px,
  sm: 14px,
  md: 18px,
  lg: 24px,
  xl: 32px,
  xxl: 52px,
);

// margin
$margin: (
  zero: 0,
  one: 4px,
  two: 8px,
  three: 16px,
  four: 32px,
  five: 64px,
);

// font-weight
$font-weight: (
  light: 300,
  normal: 400,
  medium: 500,
  bold: 700,
);

// // border
// $border: (
//   normal: 1px,
//   large: 3px,
// );

// // border-radius
// $border-radius: (
//   xs: 2px,
//   sm: 4px,
//   md: 6px,
//   lg: 8px,
//   xl: 10px,
//   xxl: 20px,
//   full: 9999px,
//   squer: 0px,
// );
