@use 'sass:map';
@import './config.scss';

* {
  font-family: $body-font-family !important;
  text-decoration: none;
}

body {
  // background: map-get($color, light);
  line-height: $line-heigth;
  text-align: center;
  margin: 0 !important;
}
